#finder .select-store{
    background: url("/images/storefinder_bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #5B5A5A;
    font-family: UNIV-C,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 32px;
    line-height: 16px;
    padding: 3px;
    vertical-align: middle;
    width: 186px;
  }